<?php
$form = $this->form;
$fieldSet = $form->get('post');

$title = $fieldSet->get('title');
$title->setAttribute('class', 'form-control');
$title->setAttribute('placeholder','Post title');

$text = $fieldSet->get('text');
$text->setAttribute('class','form-control');
$text->setAttribute('placeholder','Post content');

$submit = $form->get('submit');
$submit->setValue($this->submitLabel);
$submit->setAttribute('class','btn btn-primary');

$form->prepare();

echo $this->form()->openTag($form);
?>

    <fieldset>
        <div class="form-group">
            <?= $this->formLabel($title) ?>
            <?= $this->formElement($title) ?>
            <?= $this->formElementErrors()->render($title, ['class' => 'help-block']) ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($text) ?>
            <?= $this->formElement($text) ?>
            <?= $this->formElementErrors()->render($text, ['class' => 'help-block']) ?>
        </div>
    </fieldset>

<?php
echo $this->formSubmit($submit);
echo $this->formHidden($fieldSet->get('id'));
echo $this->form()->closeTag();
