<?php

$title = 'Add new album!';
$this->headTitle($title);
?>

<h1><?= $this->escapeHtml($title) ?></h1>
<?php

$album = $form->get('title')
    ->setAttribute('class' , 'form-control')
    ->setAttribute('placeholder' , 'Album title');

$artist = $form->get('artist')
    ->setAttribute('class' , 'form-control')
    ->setAttribute('placeholder' , 'Artist');

$submit = $form->get('submit')
    ->setAttribute('class', 'btn btn-primary');

$form->setAttribute('action', $this->url('album', ['action' => 'add']));
$form->prepare();

echo $this->form()->openTag(
        $form
);
?>
<div class="form-group">
    <?= $this->formLabel($album) ?>
    <?= $this->formElement($album) ?>
    <?= $this->formElementErrors()->render($album, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
    <?= $this->formLabel($artist) ?>
    <?= $this->formElement($artist) ?>
    <?= $this->formElementErrors()->render($artist, ['class' => 'help-block']) ?>
</div>
<?php

echo $this->formSubmit(
        $form->get('submit')
            ->setAttribute('class', 'btn btn-primary')
);

echo $this->formHidden(
    $form->get('id')
);

echo $this->form()->closeTag();

//echo $this->formCollection($form);

?>